.card.chat-room .members-panel-1,
.card.chat-room .chat-1 {
  position: relative;
  overflow-y: scroll; }

.card.chat-room .members-panel-1 {
  height: 570px; }

.card.chat-room .chat-1 {
  height: 495px; }

.card.chat-room .friend-list li {
  border-bottom: 1px solid #e0e0e0; }
.card.chat-room .friend-list li:last-of-type {
  border-bottom: none; }

.scrollbar-light-blue::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-light-blue::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-light-blue::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: gray; }

.rare-wind-gradient {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9fa5ad), to(#fdfdfd));
  background-image: -webkit-linear-gradient(bottom, #9fa5ad 0%, #fdfdfd 100%);
  background-image: linear-gradient(to top, #9fa5ad 0%, #fdfdfd 100%); }
