
<div class="row">
  <div class="col-lg-6 col-md-6">
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h2 class="card-header-title mb-2">Usuarios</h2>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Grid column-->
        <div class="list-group z-depth-1">
          <a  class="list-group-item" mdbWavesEffect>Dapibus ac facilisis in</a>

        </div>

        <!--Grid column-->
      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>

  </div>


  <div class="col-lg-6 col-md-6">
    <!--Card-->
    <mdb-card cascade="true" wider="true">

      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient">
        <h2 class="card-header-title mb-2">Chat</h2>
      </div>
      <!--/Card image-->

      <mdb-card-body cascade="true" class="text-center">
        <!--Grid column-->
        <div class="list-group z-depth-1">
          <a  class="list-group-item" mdbWavesEffect>Dapibus ac facilisis in</a>

        </div>

        <!--Grid column-->
      </mdb-card-body>
      <!--/.Card content-->

    </mdb-card>
    <!--/.Card-->
  </div>


</div>
