<div class="card rare-wind-gradient chat-room">
  <div class="card-body">

    <!-- Grid row -->
    <div class="row px-lg-2 px-2">

      <!-- Grid column -->
      <div class="col-md-6 col-xl-4 px-0">

        <h6 class="font-weight-bold mb-3 text-center text-lg-left">Usuarios</h6>
        <div class="white z-depth-1 px-2 pt-3 pb-0 members-panel-1 scrollbar-light-blue">
          <ul class="list-unstyled friend-list">
            <li class=" p-2" *ngFor="let row of users" >
              <a  class="d-flex justify-content-between" (click)="chargeChat(row)" >
                <img src="{{row.photo_path}}" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                <div class="text-small">
                  <strong>{{row.name}} {{row.paternal_surname}} {{row.maternal_surname}}</strong>
                  <p class="last-message text-muted"></p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0"></p>
                </div>
              </a>
            </li>

          </ul>
        </div>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0" *ngIf="selectedUser">

        <div class="chat-message">

          <ul class="list-unstyled chat-1 scrollbar-light-blue">
            <li class="d-flex justify-content-between mb-4" *ngFor="let row of messages" [ngSwitch]="currentUSer.id_user"  >
              <img src="{{currentUSer.photo_path}}" alt="avatar" class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1" *ngSwitchCase="row.id_user_from">
              <div class="chat-body white p-3 ml-2 z-depth-1">
                <div class="header">
                  <strong class="primary-font" *ngSwitchCase="row.id_user_from">{{row.name_user_from}}</strong>
                  <strong class="primary-font" *ngSwitchCase="row.id_user_to">{{row.name_user_from}}</strong>

                  <small class="pull-right text-muted"><i class="far fa-clock"></i> {{row.time_stamp}}</small>
                </div>
                <hr class="w-100">
                <p class="mb-0">
                  {{row.text_message}}
                </p>
              </div>
              <img src="{{row.photo_user_from}}" alt="avatar" class="avatar rounded-circle mr-0 ml-3 z-depth-1" *ngSwitchCase="row.id_user_to">

            </li>



          </ul>
          <div class="white">
            <div class="form-group basic-textarea">
              <textarea class="form-control pl-2 my-0" id="exampleFormControlTextarea2" rows="3" placeholder="Escribe tu mensaje aquí" [(ngModel)]="text"></textarea>
            </div>
          </div>
          <button type="button" mdbBtn color="primary" mdbWavesEffect (click)="sendMessage()">Enviar</button>


        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
</div>
