<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
  <mdb-side-nav #sidenav class="sn-bg-1" [fixed]="false" style="background-color: #0e3d67 !important;">

    <div style="background-color: #F7F7F7; height: 100%">
      <!-- Logo -->

      <div class="col-xl-12 col-md-12 mb-12 text-center"  style="padding-top: 50px;">

        <img src="data:image/jpg;base64,{{currentUser.photo_path}}"
             class="img-fluid rounded-circle"
             style="width: 50%;height: 50%"
             alt="Responsive image">
        <p class="text-capitalize flex-center title" >{{currentUser.name}} {{currentUser.lastname}} </p>
        <p class="text-capitalize flex-center sub-title"  >{{currentUser.name_position_work}}  </p>
      </div>

      <links>

        <li>
          <ul class="collapsible collapsible-accordion">
            <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

              <mdb-item class="no-collase" routerLink="module-external">
                <mdb-item-head mdbWavesEffect   >
                  <mdb-icon fas icon="home" ></mdb-icon> Inicio


                </mdb-item-head>

              </mdb-item>



              <mdb-item class="no-collase" routerLink="contact-directory">
                <mdb-item-head mdbWavesEffect  >
                  <mdb-icon far icon="address-book" class="mr-1"></mdb-icon> Directorio de contactos

                </mdb-item-head>
              </mdb-item>


              <mdb-item>
                <mdb-item-head mdbWavesEffect>
                  <mdb-icon fas icon="tachometer-alt" class="mr-1"></mdb-icon> Administrador

                </mdb-item-head>
                <mdb-item-body>
                  <ul>
                    <li>
                      <a routerLink="manager-user-module" class="waves-effect" mdbWavesEffect>Usuarios</a>
                    </li>
                    <li>
                      <a routerLink="module-external-manager" class="waves-effect" mdbWavesEffect>Modulos-Externos</a>
                    </li>
                    <li>
                      <a routerLink="admin-store" class="waves-effect" mdbWavesEffect>Sucursales</a>
                    </li>
                  </ul>
                </mdb-item-body>

              </mdb-item>



              <mdb-item class="no-collase">
                <mdb-item-head mdbWavesEffect routerLink="profile3">
                  <mdb-icon fas icon="user-alt"></mdb-icon>Perfil

                </mdb-item-head>
              </mdb-item>


              <mdb-item class="no-collase">
                <mdb-item-head mdbWavesEffect routerLink="alerts">
                  <mdb-icon fas icon="cogs" class="mr-1"></mdb-icon>Configuraciones

                </mdb-item-head>
              </mdb-item>

              <mdb-item class="no-collase">
                <mdb-item-head mdbWavesEffect (click)="logOut()">
                  <mdb-icon fas icon="door-closed" class="mr-1"></mdb-icon>Cerrar sesión

                </mdb-item-head>
              </mdb-item>
            </mdb-squeezebox>
          </ul>
        </li>
      </links>
      <!--/. Logo -->
    </div>

  </mdb-side-nav>

    <!--/. Sidebar navigation -->


    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
        <navlinks class="navbar-container">
            <!-- SideNav slide-out button -->
            <div class="float-xs-left">
                <a (click)="sidenav.show()" class="button-collapse-non-fixed">
                    <mdb-icon fas icon="bars"></mdb-icon>
                </a>
            </div>
            <!--/. SideNav slide-out button -->
        </navlinks>


    </mdb-navbar>
    <!--/. Navbar -->

</header>
<!--/.Double navigation-->
