<!--Double navigation-->
<header>

    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class=" fixed" [fixed]="true">



      <div class="col-xl-12 col-md-12 mb-12 text-center" >

        <div class="text-center">
          <img src="{{currentUser.logotype_company}}" class="rounded img-fluid" alt="..."  style="width: 200px">
        </div>

        <p class=" flex-center title"  style="color: #0f0f0f">{{currentUser.name_company}} </p>
        <p class=" flex-center" >{{currentUser.name_rol}}  </p>
      </div>
        <links>

            <!--/.Search Form-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <mdb-squeezebox [multiple]="false" aria-multiselectable="false">
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="user" class="mr-1"></mdb-icon> Profiles
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="profiles/profile1" class="waves-effect" mdbWavesEffect>Version
                                            1</a>
                                    </li>
                                    <li>
                                        <a routerLink="profiles/profile2" class="waves-effect" mdbWavesEffect>Version
                                            2</a>
                                    </li>
                                    <li>
                                        <a routerLink="profiles/profile3" class="waves-effect" mdbWavesEffect>Version
                                            3</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fab icon="css3" class="mr-1"></mdb-icon> CSS
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="css/grid" class="waves-effect" mdbWavesEffect>Grid system</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/utilities" class="waves-effect" mdbWavesEffect>Utilities</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/icons" class="waves-effect" mdbWavesEffect>Icons</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/images" class="waves-effect" mdbWavesEffect>Images</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/typography" class="waves-effect"
                                           mdbWavesEffect>Typography</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/colors" class="waves-effect" mdbWavesEffect>Colors</a>
                                    </li>
                                    <li>
                                        <a routerLink="css/shadow" class="waves-effect" mdbWavesEffect>Shadow</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="th-large" class="mr-1"></mdb-icon> Components
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="components/buttons" class="waves-effect"
                                           mdbWavesEffect>Buttons</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/cards" class="waves-effect" mdbWavesEffect>Cards</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/panels" class="waves-effect" mdbWavesEffect>Panels</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/lists" class="waves-effect" mdbWavesEffect>List
                                            groups</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/pagination" class="waves-effect" mdbWavesEffect>Pagination</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/progress-bars" class="waves-effect" mdbWavesEffect>Progress
                                            bars</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/tabs" class="waves-effect" mdbWavesEffect>Tabs &
                                            pills</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/tags" class="waves-effect" mdbWavesEffect>Tags, labels
                                            & badges</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/date-picker" class="waves-effect" mdbWavesEffect>Date
                                            picker</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/time-picker" class="waves-effect" mdbWavesEffect>Time
                                            picker</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/tooltips" class="waves-effect"
                                           mdbWavesEffect>Tooltips</a>
                                    </li>
                                    <li>
                                        <a routerLink="components/popovers" class="waves-effect"
                                           mdbWavesEffect>Popovers</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>

                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="table" class="mr-1"></mdb-icon> Tables
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="tables/table1" class="waves-effect" mdbWavesEffect>Basic</a>
                                    </li>
                                    <li>
                                        <a routerLink="tables/table2" class="waves-effect" mdbWavesEffect>Extended</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>

                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="map" class="mr-1"></mdb-icon> Maps
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="maps/map1" class="waves-effect" mdbWavesEffect>Basic</a>
                                    </li>
                                    <li>
                                        <a routerLink="maps/map2" class="waves-effect" mdbWavesEffect>Fullscreen</a>
                                    </li>
                                    <li>
                                        <a routerLink="maps/map3" class="waves-effect" mdbWavesEffect>Markers</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="chart-pie" class="mr-1"></mdb-icon> Charts
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="charts/chart1" class="waves-effect" mdbWavesEffect>Version 1</a>
                                    </li>
                                    <li>
                                        <a routerLink="charts/chart2" class="waves-effect" mdbWavesEffect>Version 2</a>
                                    </li>
                                    <li>
                                        <a routerLink="charts/chart3" class="waves-effect" mdbWavesEffect>Version 3</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
                        <mdb-item>
                            <mdb-item-head mdbWavesEffect>
                                <mdb-icon fas icon="wrench" class="mr-1"></mdb-icon> Settings
                            </mdb-item-head>
                            <mdb-item-body>
                                <ul>
                                    <li>
                                        <a routerLink="settings/settings1" class="waves-effect" mdbWavesEffect>Version
                                            1</a>
                                    </li>
                                    <li>
                                        <a routerLink="settings/settings2" class="waves-effect" mdbWavesEffect>Version
                                            2</a>
                                    </li>
                                    <li>
                                        <a routerLink="settings/settings3" class="waves-effect" mdbWavesEffect>Version
                                            3</a>
                                    </li>
                                </ul>
                            </mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="alerts">
                                <mdb-icon far icon="bell" class="mr-1"></mdb-icon> Alerts
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="modals">
                                <mdb-icon fas icon="bolt" class="mr-1"></mdb-icon> Modals
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="calendar">
                                <mdb-icon far icon="calendar-alt" class="mr-1"></mdb-icon> Calendar
                            </mdb-item-head>
                        </mdb-item>
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="help">
                                <mdb-icon far icon="compass" class="mr-1"></mdb-icon> Help
                            </mdb-item-head>
                        </mdb-item>
                        <mdb-item class="no-collase">
                            <mdb-item-head mdbWavesEffect routerLink="sections">
                                <i class="fa fa-th"></i> Sections
                            </mdb-item-head>
                            <mdb-item-body></mdb-item-body>
                        </mdb-item>

                    </mdb-squeezebox>
                </ul>
            </li>
            <!--/. Side navigation links -->
        </links>

    </mdb-sidenav>
    <!--/. Sidebar navigation -->


    <!-- Navbar -->
    <mdb-navbar SideClass="navbar navbar-expand-md scrolling-navbar double-nav" [containerInside]="false">
        <navlinks class="navbar-container">
            <!-- SideNav slide-out button -->
            <div class="float-xs-left">
                <a (click)="sidenav.show()" class="button-collapse-non-fixed">
                    <mdb-icon fas icon="bars"></mdb-icon>
                </a>
            </div>
            <!--/. SideNav slide-out button -->
        </navlinks>
        <logo>
            <!-- Breadcrumb-->
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <p>Bienvenido: {{currentUser.name}} {{currentUser.maternal_surname}}</p>
            </div>
            <!--/. Breadcrumb-->
        </logo>
        <navlinks>

            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">

                <li class="nav-item dropdown btn-group" dropdown>

                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                      <img src="{{currentUser.photo_path}}" alt="thumbnail" class="img-thumbnail rounded-circle"
                           style="width: 30px">

                      <span class="clearfix d-none d-sm-inline-block">Cuenta</span>
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                      <a class="dropdown-item" href="#">Mi Perfil</a>

                      <a class="dropdown-item" href="#">Cambio de contraseña</a>

                      <a class="dropdown-item" (click)="logOut()">Cerrar Sesión</a>
                    </div>
                </li>
            </ul>

        </navlinks>

    </mdb-navbar>
    <!--/. Navbar -->

</header>
<!--/.Double navigation-->
